<section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>

        <div class="input-group rounded mb-3">
          <input [(ngModel)]="city" type="search" class="form-control rounded" placeholder="City" aria-label="Search"
            aria-describedby="search-addon"/>
          <a (click)="onClick()" type="button">
            <span class="input-group-text border-0 fw-bold" id="search-addon">
              Check!
            </span>
          </a>
        </div>

        <div class="mb-4 pb-2">
          <div class="form-check form-check-inline">
            <input (click)="changeToC()"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="inlineRadio1">Celsius</label>
          </div>

          <div class="form-check form-check-inline">
            <input (click)="changeToF()"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Farenheit</label>
          </div>
        </div>

        <div [ngClass]="{'hide': currentWeather == null}" class="card shadow-0 border">
          <div class="card-body p-4">

            <h4 class="mb-1 sfw-normal">{{ currentWeather?.city?.name }}, {{ currentWeather?.city?.countryCode }}</h4>
            <p class="mb-2">Current temperature: <strong>{{ (currentWeather?.weather?.temp)?.toFixed(2) }} {{ unit }}</strong></p>
            <p>Max: <strong>{{ (currentWeather?.weather?.tempMax)?.toFixed(2) }} {{ unit }}</strong>, Min: <strong>{{ (currentWeather?.weather?.tempMin)?.toFixed(2) }} {{ unit }}</strong></p>
            <p>Humidity: <strong>{{ (currentWeather?.weather?.humidity)?.toFixed(2) }}%</strong></p>

            <div class="d-flex flex-row align-items-center">
              <p class="mb-0 me-4" *ngIf="currentWeather">{{ capitalizeFirstLetter(currentWeather.weatherDescModels[0].description) }}</p>
              <!-- <i class="fas fa-cloud fa-3x" style="color: #eee;"></i> -->
              <img *ngIf="currentWeather" src='{{"https://openweathermap.org/img/w/" + currentWeather.weatherDescModels[0].icon + ".png"}}' alt="">
            </div>

          </div>
        </div>

      </div>
      <div class="col-md-2 col-lg-3 col-xl-4">
        <div>
          <p>From: <input (change)="getFromValue($event)" class="ml-1" type="date"></p>
        </div>
        <div>
          <p>To: <input (change)="getToValue($event)" class="ml-4" type="date"></p>
        </div>
      </div>
      <div class="col-md-2 col-lg-3 col-xl-4">
        <button class="btn btn-success" (click)="openXl(content)" >Get historical weather</button>
      </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Weather historical</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">City</th>
              <th scope="col">Temperature(K)</th>
              <th scope="col">Max temperature(K)</th>
              <th scope="col">Min temperature(K)</th>
              <th scope="col">Humidity(%)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let weather of weatherHistories">
              <th scope="row">{{ weather.date }}</th>
              <td>{{ weather.city.name }}/{{ weather.city.countryCode }}</td>
              <td>{{ weather.temp }}</td>
              <td>{{ weather.tempMax }}</td>
              <td>{{ weather.tempMin }}</td>
              <td>{{ weather.humidity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteAll()">Delete All</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>    
  </div>
</section>